$trunk-color: #582f0e;
$shadow-trunk-color: #7f4f24;
$light-leaves-color: #31572c;
$dark-leaves-color: #132a13;
$background-color: #bde0fe;
$xmas-police: "Mountains of Christmas";

html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: #660708;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  .gamesContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    font-family: 'Montserrat';
    flex-wrap: wrap;
    .game {
      overflow: hidden;
      width: 18%;
      height: 80vh;
      background: white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 15px;
      img {
        width: 100%;
        object-fit: cover;
      }
      h1 {
        padding: 15px 10px;
        height: 50px;
      }
      p {
        padding: 0 10px;
        height: 40%;
        font-size: 14px;
        overflow-y: scroll;
      }
      pre {
        padding: 20px 10px;
        font-size: 18px;
        height: 10px;
        color: #4a4e69;
        font-weight: bold;
      }
    }
  }
}
.cardsContainer {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img {
    width: 750px;
    height: 100px;
    object-fit: cover;
  }
  #valid {
    width: auto;
    height: 25px;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 16px;
  }
  .pass {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    input {
      width: 250px;
      height: 25px;
      padding: 3px;
      padding-left: 15px;
      border: none;
      border-radius: 10px 0 0 10px;
    }
    button {
      width: 35px;
      height: 31px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 0 10px 10px 0;
    }
  }
}
@media screen and (max-width : 1025px) {
  main {
    .gamesContainer {

      .game {
        height: 90vh;
        width: 25%;
        h1 {
          font-size: 20px;
        }
      }
    }
    .cardsContainer {
      width: 100%;
      height: 90vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      img {
        width: 600px;
        height: 100px;
        object-fit: cover;
      }
      #valid {
        width: auto;
        height: 25px;
        padding: 5px 20px;
        border: none;
        border-radius: 5px;
        margin-top: 20px;
        font-size: 16px;
      }
      .pass {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
        input {
          width: 250px;
          height: 25px;
          padding: 3px;
          padding-left: 15px;
          border: none;
          border-radius: 10px 0 0 10px;
        }
        button {
          width: 35px;
          height: 31px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          border-radius: 0 10px 10px 0;
        }
      }
    }
  }
}
@media screen and (max-width : 769px) {
  main {
    .gamesContainer {
      margin-top: 5vh;
      padding-bottom: 5vh;
      .game {
        height: 90vh;
        width: 45%;
        h1 {
          font-size: 20px;
        }
      }
    }
    .cardsContainer {
      width: 100%;
      height: 90vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      img {
        width: 500px;
        height: 100px;
        object-fit: cover;
      }
      #valid {
        width: auto;
        height: 25px;
        padding: 5px 20px;
        border: none;
        border-radius: 5px;
        margin-top: 20px;
        font-size: 16px;
      }
      .pass {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
        input {
          width: 250px;
          height: 25px;
          padding: 3px;
          padding-left: 15px;
          border: none;
          border-radius: 10px 0 0 10px;
        }
        button {
          width: 35px;
          height: 31px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          border-radius: 0 10px 10px 0;
        }
      }
    }
  }
}
@media screen and (max-width : 426px) {
  main {
    .gamesContainer {
      margin-top: 5vh;
      padding-bottom: 5vh;
      .game {
        height: 80vh;
        width: 80%;
        h1 {
          font-size: 20px;
          height: 15px;
        }
        pre {
          overflow-x: scroll;
          font-size: 15px;
        }
     
      }
    }
    .cardsContainer {
      width: 100%;
      height: 90vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      img {
        width: 300px;
        height: 100px;
        object-fit: cover;
      }
      #valid {
        width: auto;
        height: 25px;
        padding: 5px 20px;
        border: none;
        border-radius: 5px;
        margin-top: 20px;
        font-size: 16px;
      }
      .pass {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
        input {
          width: 150px;
          height: 25px;
          padding: 3px;
          padding-left: 15px;
          border: none;
          border-radius: 10px 0 0 10px;
        }
        button {
          width: 35px;
          height: 31px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          border-radius: 0 10px 10px 0;
        }
      }
    }
  }
}
